.footer {
    background: #000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: start;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.333;
    color: #ccc;
}

.footer-contato li {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 30px;
}

.footer-contato li a {
    text-decoration: underline;
}

.footer-contato img {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.footer-copy {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-texto {
        font-size: 1.2rem;
    }
    .footer-contato li {
        font-size: 1.5rem;
        justify-self: center;
    }
    .footer-copy {
        font-size: 1rem;
    }
}