html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Wittgenstein';
    src: url('../font/Wittgenstein.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../font/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Fira Sans", Arial, sans-serif;
    color: #141414;
}

h1, h2, h3, strong, b,
.empresa-impar-titulo,
.empresa-par-titulo,
.projetos-nome,
.formacao-nome,
.cargo-titulo,
.projetos-linguagem,
.footer-contato li,
.empresa-impar-ano::before,
.empresa-par-ano::before,
.marcas-lista p {
    font-family: 'Wittgenstein', serif;
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.subtitulo {
    font-size: 7rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
    max-width: 6ch;
}

@media (max-width: 768px) {
    .subtitulo {
        font-size: 3rem;
        word-break: keep-all;
        line-height: 1;
        text-transform: capitalize;
        max-width: initial !important;
    }
    .container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}