.header {
    max-width: 1200px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.nav-list a {
    font-family: 'Wittgenstein', serif;
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    display: block;
    position: relative;
}

.nav-list a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: #141414;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.nav-list a:hover::after {
    width: calc(100% - 40px);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .header a {
        background-color: #f5f5f5;
        border-radius: 4px;
    }
}