.introducao {
    align-items: center;
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before {
    content: '';
    z-index: -1;
    display: block;
    width: 130px;
    height: 100px;
    position: absolute;
    top: -15px;
    left: -40px;
    background: url('../img/detalhe.svg') no-repeat center;
}

.introducao p {
    font-size: 1.4rem;
    color: #525252;
}

.botao-principal {
    display: inline-block;
    padding: 10px 20px;
    background-color: #141414;
    color: white;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.botao-principal:hover {
    background-color: #333;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .introducao {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 468px) {
    .introducao {
        grid-template-columns: 1fr;
    }
    .introducao img {
        display: none;
    }
}
