.marcas .subtitulo {
    max-width: 5ch;
    color: #e0e0e0;
}

.marcas-texto {
    font-size: 1.5rem;
    line-height: 1.333;
    margin-bottom: 60px;
    max-width: 60ch;
    color: #525252;
}

.marcas-texto strong {
    color: #141414;
}

.marcas-lista {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin-top: 40px;
  padding: 0;
  width: 100%;
}

.marcas-lista li {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  text-align: center;
}

.marcas-lista img {
  margin-bottom: 10px;
  border-radius: 12px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.marcas-lista p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #141414;
}

@media (max-width: 768px) {
  .marcas-lista {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
  .marcas-lista li {
    padding: 10px;
  }
  .marcas-lista img {
    max-width: 100%;
  }
  .marcas-lista p {
    font-size: 1rem;
    word-break: break-word;
  }
  .marcas .subtitulo {
        color: #141414;
    }
}
