@import './global.css';
@import './header.css';
@import './introducao.css';
@import './experiencia.css';
@import './cargos.css';
@import './marcas.css';
@import './formacao.css';
@import './projetos.css';
@import './footer.css';